::-webkit-scrollbar {
  display: none;
}

/*Remove Link Background*/
* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
}
@font-face {
  font-family: 'f1';
  src: url('./adamwarrenpro.ttf');
}
@font-face {
  font-family: 'f2';
  src: url('./RainlyRegular-OVl7O.otf');
}
@font-face {
  font-family: 'f3';
  src: url('./mangat.ttf');
}
@font-face {
  font-family: 'f4';
  src: url('./Travel_Journal.ttf2');
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@media (min-width:900px) {
  body {
    background: url('beach.jpg');
    background-size: cover;
  }

  .cover {
    height: 250px;
    width: 100%;
  }

  .cover img {
    height: 250px;
    width: 100%;
  }

  .main {
    height: 100vh;
    width: 100%;
    background-color: transparent;
  }

  .logo_image {
    height: 200px;
    width: 200px;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: 2px 2px 0 rgba(102, 110, 102, 0.82)
  }

  .content_tray_l {
    overflow: scroll;
    position: absolute;
    bottom: 10%;
    height: 380px;
    width: 580px;
    background-color: transparent;
    opacity: 0;
  }

  .content_tray_l .content_1,
  .content_3,
  .content_5,
  .content_7,
  .content_9,
  .content_11,
  .content_13{
    position: absolute;
    top: 13%;
    height: 50px;
    left: 10px;
    width: 85%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(242, 255, 251, .8);
    border-radius: 14px;
  }

  .content_tray_l .img_content {
    position: absolute;
    height: 50px;
    width: 50px;
    z-index: 1;
    border-radius: 24px;
  }

  .content_tray_l .season_represent {
    position: absolute;
    height: 100px;
    width: 100px;
    z-index: 1;
    left: 85.6%;
    bottom: -15px;
    transform: rotate(360deg);
  }

  .content_tray_l .link_content {
    position: absolute;
    top: 3%;
    height: 50px;
    width: 100%;
  }

  .content_tray_l span {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: large;
    font-weight: 800;
    color: rgb(65, 56, 56);
  }

  .content_3 {
    position: absolute;
    top: 35%;
  }

  .content_5 {
    position: absolute;
    top: 57%;
  }

  .content_7 {
    position: absolute;
    top: 79%;
  }

  .content_9 {
    position: absolute;
    top: 101%;
  }

  .content_11 {
    position: absolute;
    top: 123%;
  }
  .content_13 {
    position: absolute;
    top: 145%;
  }

  .content_tray_r {
    overflow: scroll;
    position: absolute;
    left: 60%;
    bottom: 10%;
    height: 380px;
    width: 580px;
    background-color: transparent;
    opacity: 0;
  }

  .content_tray_r:hover,
  .content_tray_l:hover{
    animation: show 800ms forwards ease-in;
  }

  .content_tray_r:not(:hover),
  .content_tray_l:not(:hover){
    animation: hide 800ms forwards ease-out;
  }

  .content_tray_r .content_2,
  .content_4,
  .content_6,
  .content_8,
  .content_10,
  .content_12 {
    position: absolute;
    top: 13%;
    height: 50px;
    left: 10px;
    width: 85%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(242, 255, 251, .8);
    border-radius: 14px;
  }
  .content_tray_r .img_content {
    position: absolute;
    height: 50px;
    width: 50px;
    z-index: 1;
    border-radius: 24px;
  }

  .content_tray_r .season_represent {
    position: absolute;
    height: 106px;
    width: 106px;
    z-index: 1;
    left: 81%;
    bottom: -5px;
    transform: rotate(360deg);
  }

  .content_tray_r .link_content {
    position: absolute;
    top: 3%;
    height: 50px;
    width: 100%;
  }

  .content_tray_r span {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: large;
    font-weight: 800;
    color: rgb(65, 56, 56);
  }

  .content_4 {
    position: absolute;
    top: 35%;
  }

  .content_6 {
    position: absolute;
    top: 57%;
  }

  .content_8 {
    position: absolute;
    top: 79%;
  }

  .content_10 {
    position: absolute;
    top: 101%;
  }

  .content_12 {
    position: absolute;
    top: 123%;
  }
  @keyframes show {

    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
    
  }
  @keyframes hide {

    0%{
      opacity: 1;
    }
    100%{
      opacity: 0;
    }
    
  }
}
@media (max-width:899px) {
  body{
    background-image: url('mobile_bg.jpg');
    /* background-size: cover; */
  }
  .main {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: transparent;
  }

  .logo_image {
    height: 200px;
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: 2px 2px 0 rgba(102, 110, 102, 0.82)
  }
}