* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  color: var(--txt-color);
  font-family: 'Poppins', sans-serif;
}

@media(max-width: 990px) {
  .fireworks-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("./bg_pc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media(min-width: 991px) {
  .fireworks-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("./bg_p.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.content-wrapper {
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  font-size: 3rem;
  font-weight: 300;
}

.year {
  font-size: 15rem;
  font-weight: 900;
  line-height: 1.5;
  background: -webkit-linear-gradient(120deg, red, #ffff66);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer>*~* {
  margin-left: 4rem;
}


.timer-box {
  filter: url(#liquid-glass);
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  text-shadow: 0 0 10px rgba(0,0,0,0.4);
  margin-top: -5rem;
}

.timer-box__count {
  --size: 10rem;
  width: var(--size);
  height: var(--size);
  display: grid;
  place-items: center;
  font-weight: 700;
  color:rgba(255, 38, 0,.8);
}

.timer-box__count>span {
  font-size: 5rem;
  font-weight: 500;
}

.timer-box__text {
  display: grid;
  place-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 1rem 0;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 0 0 8px 8px;
  color: #ff2600;
}


@media only screen and (max-width: 1200px) {
  html {
    font-size: 60%;
  }
}

@media only screen and (max-width: 700px) {
  html {
    font-size: 40%;
  }
}