@font-face {
    font-family: 'Alimi Font';
    src: url('../MTO_Canun.ttf');
}

body {
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.main {
    margin: auto;
    margin-top:4.7%;
    display: flex;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 0;
    border: 2px solid #333;
    border-radius: 24px;
    background-color: rgba(145, 145, 145, 0.6);
}
.main .cover-image{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    height: 400px;
    width:400px;
    background-color: rgba(255,255,255,.2);
    border-radius: 24px;
    visibility: visible;
}
.main .cover-image img{
    height: 400px;
    width:400px;
    border-radius: 24px;
}
#title_music {
    font-family: 'Alimi Font';
    position: absolute;
    top: 18%;
    font-size: 3em;
    left: 45%;
    min-width: 30px;
    max-width: calc(90% - 550px);
    overflow: hidden;
    color:rgb(255, 255, 255);
    user-select: none;
}
.upload{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width:100%;
    background-color: rgba(0,0,0,.8);
}
#uploadbtn[type='file']{
    display:none;
}
/* Thêm vào file style.css của bạn */
#play i {
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

#play.playing i {
    transform: scale(1.2); /* Phóng to biểu tượng khi đang phát */
    color: white; /* Thay đổi màu sắc khi đang phát */
}
.fa-solid {
    transition: transform 0.3s ease-in-out;
}
audio{
    display: none;
}
label{
    position: absolute;
    top:50%;
    left:50%;
    color:antiquewhite;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    margin:auto;
    transform: translate(-50%,-50%);
    display: inline-block;
    background-color: blueviolet;
    border-radius: 24px;
    padding:8px;
    box-shadow: 5px 15px 25px #7e7c7b;
    user-select: none;
}
#progress{
    position: absolute;
    -webkit-appearance: none;
    top:55%;
    width:44%;
    height: 6px;
    background-color: aquamarine;
    border-radius: 4px;
    cursor: pointer;
}
#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    width:19px;
    height:19px;
    background-color: coral;
    border-radius: 50%;
}
.player .main-control{
    display: flex;
    color: white;
    height: 30px;
    width: 100px;
    cursor: pointer;
    margin-right: 30px;
}

.player .main-control i{
    font-size: 40px;
    margin-right: 4em;
    margin-top: 57%;
    margin-left:3rem;
}