.root {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 10px;
  }
  .root a {
    display: block;
    max-width: 100%;
    width: calc(33.333% - 20px);
    box-sizing: border-box;
  }

  .root img {
    width: 100%;
    height: calc(100vh - 150px);
    display: block;
    border-radius: 8px;
  }
  @media (max-width: 1200px) {
    .root a {
      width: calc(25% - 20px);
    }
  }
  
  @media (max-width: 900px) {
    .root a {
      width: calc(33.333% - 20px);
    }
  }
  
  @media (max-width: 600px) {
    .root a {
      width: calc(50% - 20px);
    }
  }
  
  @media (max-width: 400px) {
    .root a {
      width: 100%;
    }
  }
  